body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif,
    sans-serif;
}

header {
  text-align: center;
}

.centrado {
  text-align: center;
}

section {
  font-size: 20px;
  text-align: justify;
}

.horario {
  position: relative;
  margin: auto;
  width: 275px;
  border: 5px solid black;
  background-color: gainsboro;
  
}

nav {
  display: flex;
  justify-content: space-around;
  background-color: #b11016;
  overflow: hidden;
}
/* Estilo de los elementos del nav*/
.barraNav a {
  color: #f2f2f2;
  padding: 1.5rem 2rem;
  text-decoration: none;
  font-size: 1.5rem;
}

/* Cambia de color al pasar el ratón*/
.barraNav a:hover {
  background-color: white;
  color: black;
}

/* Oculta el boton desplegable */
.barraNav .icono {
  display: none;
}

/* En pantallas móviles se sustituye por un desplegable */
@media screen and (max-width: 750px) {
  .barraNav a {
    display: none;
  }

  .barraNav a.icono {
    float: right;
    display: block;
  }

  .barraNav.responsive {
    position: relative;
  }
  .barraNav.responsive a.icono {
    position: absolute;
    right: 0;
    top: 0;
  }
  .barraNav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

  nav {
    display: block;
    background-color: #b11016;
  }
}